img {
    border: solid;
    border-color: black;
}

.header {
    display: flex;
    color: #ff6666;
    background-color: rgb(122, 44, 211);
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.origami {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color: aqua;
}

body {
    background-image: url("images/bg.png");
    background-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: medium;
}

.bodyimg {
    background-color : plum;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}